<app-header></app-header>
<!-- SubHeader =============================================== -->

<div id="subheader" style="height: 70px;">
  <div id="sub_content" style="background-color:#81DB66;height:inherit;width:inherit;animation-name:none">

  </div>
</div>

<div *ngIf="orderStatus == null">
  loading..
</div>

<div style="">
  <div style="padding-top:20px" class="container margin_60_35">
    <div *ngIf="orderStatus == 0">
      <span style="color: white;text-align: center">
        <h4>Your Order is Pending. Please wait...</h4>
      </span>
      <br>
      <br>
    </div>
    <div class="row" style="background:white;border-radius:4px;">
        <h3 style="text-align:center">Delivery Details</h3>
        <br>
      <div *ngIf="orderStatus != null" class="col-sm-4">
       
        <div class="row">
          <div class="bs-wizard">
            <div [ngClass]="{'disabled': orderStatus<1 }" class=" bs-wizard-step active">
              <!-- <div class="custom-progress-bar-top"></div> -->
              <a class="bs-wizard-dot"></a>
              <div class="order-detail">Order Accepted</div>
              <div [ngClass]="{'disableProgress': orderStatus<=2 }" class="custom-progress-bar"></div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="bs-wizard">
            <div [ngClass]="{'disabled': orderStatus<=2 }" class=" bs-wizard-step ">
              <!-- <div class="custom-progress-bar-top"></div> -->
              <a [ngClass]="{'disableProgress': orderStatus<=2 }" class="bs-wizard-dot"></a>
              <div class="order-detail">Preparing Food</div>
              <div [ngClass]="{'disableProgress': orderStatus<=4 }" class="custom-progress-bar"></div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="bs-wizard">
            <div [ngClass]="{'disabled': orderStatus<=4 }" class=" bs-wizard-step">
              <!-- <div class="custom-progress-bar-top"></div> -->
              <a [ngClass]="{'disableProgress': orderStatus<=4 }" class="bs-wizard-dot"></a>
              <div class="order-detail">Started towards Customer</div>
              <div [ngClass]="{'disableProgress': orderStatus<=5 }" class="custom-progress-bar"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="bs-wizard">
            <div [ngClass]="{'disabled': orderStatus<=5 }" class=" bs-wizard-step ">
              <!-- <div class="custom-progress-bar-top"></div> -->
              <a [ngClass]="{'disableProgress': orderStatus<=5 }" class="bs-wizard-dot"></a>
              <div class="order-detail">Food delivered</div>
              <div [ngClass]="{'disableProgress': orderStatus<=6 }" class="custom-progress-bar"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="bs-wizard">
            <div [ngClass]="{'disabled': orderStatus<=6 }" class=" bs-wizard-step">
              <!-- <div class="custom-progress-bar-top"></div> -->
              <a [ngClass]="{'disableProgress': orderStatus<=6 }" class="bs-wizard-dot"></a>
              <div class="order-detail">Completed</div>
              <!-- <div class="custom-progress-bar"></div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div *ngIf="deliveryBoyDetails">
          <!-- <h4>Delivery Details:</h4> -->

          <div class="row">
            <div class="col-sm-3 col-md-2">
              <img *ngIf="deliveryBoyDetails.delivery_boy_image" class="delivery_boy_pic" src={{deliveryBoyDetails.delivery_boy_image}}>
              <!-- <img *ngIf="!deliveryBoyDetails.delivery_boy_image" class="delivery_boy_pic" src="./assets/img/user.png"> -->
            </div>
            <div class="col-sm-6 col-md-7 delivery_boy_details">

              <span *ngIf="deliveryBoyDetails.delivery_boy_name">{{deliveryBoyDetails.delivery_boy_name}}</span>
              <!-- <span *ngIf="!deliveryBoyDetails.delivery_boy_name">Delivery Boy Name</span> -->
              <br>
              <span *ngIf="deliveryBoyDetails.delivery_boy_phone">({{deliveryBoyDetails.delivery_boy_phone}})</span>
              <!-- <span *ngIf="!deliveryBoyDetails.delivery_boy_phone">(9000000000)</span> -->
            </div>
            <div class="col-sm-3 col-md-3">

              <span class="delivery_amount">Total Amount: ${{deliveryBoyDetails.bill_amount}}</span>

            </div>
          </div>
        </div>
        
        <div id="map"></div>
      </div>

    </div>

    <br>


    <div *ngIf="orderDetails" class="row" style="background:white;border:1px solid white;border-radius:4px;width:80%;margin:0 auto">
      <h3 style="text-align:center">Order Details</h3>
      <br>
      <div style="" class="col-sm-6">

        <div style="font-weight:100">FROM</div>
        <h4 style="font-weight:bold">{{orderDetails.restaurant_name}}</h4>
        <div>{{orderDetails.restaurant_address}}</div>
        <br>
        <br>
        <div style="font-weight:100">DELIVER TO</div>
        <div>{{orderDetails.delivery_address}}</div>
      </div>
      <div style="" class="col-sm-6">
        <table class="table table_summary">
          <tbody>
            <tr  *ngFor="let item of orderDetails.item_list">
              <td>
                <strong> {{item.food_quantity}} x</strong> {{item.food_name}}
              </td>
              <td>
                <strong class="pull-right">$ {{item.item_price}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <table class="table table_summary">
          <tbody>
            <tr>
            <td>
              Subtotal
              <span class="pull-right">$ {{orderDetails.item_total}}</span>
            </td>
          </tr>
          <tr *ngIf="orderDetails.delivery_charge">
            <td>
              Delivery fee
              <span class="pull-right">$ {{orderDetails.delivery_charge}}</span>
            </td>
          </tr>
          <tr *ngIf="orderDetails.tax">
            <td>
              GST
              <span class="pull-right">$ {{orderDetails.tax}}</span>
            </td>
          </tr>
          <tr *ngIf="orderDetails.restaurant_packaging_charge">
            <td>
              Packaging fee
              <span class="pull-right">$ {{orderDetails.restaurant_packaging_charge}}</span>
            </td>
          </tr>
          <tr *ngIf="orderDetails.offer_discount">
            <td>
              Discount
              <span class="pull-right">$ {{orderDetails.offer_discount}}</span>
            </td>
          </tr>
            <tr>
              <td class="total">
                TOTAL
                <span class="pull-right">$ {{orderDetails.bill_amount}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>



<app-footer></app-footer>