<app-header></app-header>
<!-- SubHeader =============================================== -->

<div id="subheader" style="height: 350px;background-image:url('assets/img/sub_header_home.jpg');">
  <div id="sub_content" style="background-color: rgba(0,0,0,.7);height:inherit;width:inherit;animation-name:none">
    <h1>Track Order</h1>

  </div>
</div>

<div class="container margin_60_35">
  <div>
    <div class="row">

      <div class="col-sm-4 ">
        <div class="bs-wizard">
          <div class=" bs-wizard-step active">
            <!-- <div class="custom-progress-bar-top"></div> -->
            <a class="bs-wizard-dot"></a>
            <div class="order-detail">Order Placed</div>
            <div class="custom-progress-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 ">
        <div class="bs-wizard">
          <div class=" bs-wizard-step">
            <!-- <div class="custom-progress-bar-top"></div> -->
            <a class="bs-wizard-dot"></a>
            <div class="order-detail">Assigned to Delivery Boy</div>
            <div class="custom-progress-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 ">
        <div class="bs-wizard">
          <div class=" bs-wizard-step">
            <!-- <div class="custom-progress-bar-top"></div> -->
            <a class="bs-wizard-dot"></a>
            <div class="order-detail">Started towards Customer</div>
            <div class="custom-progress-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 ">
        <div class="bs-wizard">
          <div class=" bs-wizard-step">
            <!-- <div class="custom-progress-bar-top"></div> -->
            <a class="bs-wizard-dot"></a>
            <div class="order-detail">Food delivered</div>
            <div class="custom-progress-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 ">
        <div class="bs-wizard">
          <div class=" bs-wizard-step">
            <!-- <div class="custom-progress-bar-top"></div> -->
            <a class="bs-wizard-dot"></a>
            <div class="order-detail">Completed</div>
            <!-- <div class="custom-progress-bar"></div> -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<app-footer></app-footer>