<app-header>
</app-header>
<!-- SubHeader =============================================== -->
<!-- <section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/sub_header_2.jpg" data-natural-width="1400"
  data-natural-height="470"> -->
<div id="subheader" style="height:470px;background-image:url('assets/img/sub_header_2.jpg');">
  <div id="sub_content" style="background-color: rgba(0,0,0,.7);height:inherit;width:inherit;animation-name:none">
    <div id="thumb">
      <img src="assets/img/thumb_restaurant.jpg" alt="">
    </div>
    <div class="rating">
      <i class="icon_star voted"></i>
      <i class="icon_star voted"></i>
      <i class="icon_star voted"></i>
      <i class="icon_star voted"></i>
      <i class="icon_star"></i> (
      <small>
        <a>Read 98 reviews</a>
      </small>)</div>
    <h1>Mexican TacoMex</h1>
    <div>
      <em>Mexican / American</em>
    </div>
    <div>
      <i class="icon_pin"></i> 135 Newtownards Road, Belfast, BT4 1AB -
      <strong>Delivery charge:</strong> $10, free over $15.</div>
  </div>
  <!-- End sub_content -->
</div>
<!-- End subheader -->
<!-- </section> -->
<!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
<div class="container margin_60_35">

  <div *ngIf="!allCategories" class="row text_center_align">
    <i class="fa fa-spinner fa-spin" style="font-size:36px;color:#57C704"></i>
    <div>Please wait...</div>
  </div>

  <div class="row" *ngIf="allCategories">

    <div class="col-md-3">
      <!-- <p>
        <a class="btn_side">Back to search</a>
      </p> -->

      <div class="box_style_1">
        <ul id="cat_nav">
          <li *ngFor="let variety of food_variety">
            <a class="cursor_poiter" (click)="scrollTo(variety.category)">{{variety.category}}
              <span>({{variety.count}})</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="box_style_2 hidden-xs" id="help">
        <i class="icon_lifesaver"></i>
        <h4>Need
          <span>Help?</span>
        </h4>
        <a class="phone">+45 423 445 99</a>
        <small>Monday to Friday 9.00am - 7.30pm</small>
      </div>
    </div>
    <!-- End col-md-3 -->

    <div class="col-md-6" *ngIf="allCategories">
      <div class="box_style_2" id="main_menu">
        <h2 class="inner">Menu</h2>

        <div *ngFor="let category of allCategories.food_list;let i = index">
          <h3 id='{{category.category_name}}' class="nomargin_top">{{category.category_name}}</h3>
          <p></p>
          <table class="table table-striped cart-list" *ngIf="category.items">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price </th>
                <th>Order</th>
              </tr>
            </thead>
            <tbody *ngFor="let food of category.items;let j= index">
              <tr>
                <td>
                  <!-- <figure class="thumb_menu_list">
                    <img src="assets/img/menu-thumb-1.jpg" alt="thumb">
                  </figure> -->
                  <h5>
                    <img title="veg" *ngIf="food.is_veg" src="assets/img/veg.png" width="18px">
                    <img title="non-veg" *ngIf="!food.is_veg" src="assets/img/non-veg.png" width="18px"> {{food.name}}
                  </h5>
                  <p>
                    {{food.description}}
                  </p>
                </td>
                <td>
                  <strong>$ {{food.price}}</strong>
                </td>
                <td class="options">
                  <div *ngIf="!food.alreadyFound" class="">
                    <a (click)="addToCart(food)" class="cursor_poiter" >
                      <i class="icon_plus_alt2"></i>
                    </a>
                  </div>
                  <div *ngIf="alreadyFound" >
                    {{food.cartCount}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div id="cart_box">
          <h3>Your order
            <i class="icon_cart_alt pull-right cursor_pointer"></i>
          </h3>
          <table *ngIf="checkCartResponse" class="table table_summary">
            <tbody>
              <tr *ngFor="let cartItem of checkCartResponse.cart[0].item_list">
                <td>
                  <a (click)="removeFromCart(cartItem.item_id,cartItem.quantity)" class="remove_item cursor_pointer">
                    <i class="icon_minus_alt"></i>
                  </a>
                  <strong>{{cartItem.quantity}} x </strong> {{cartItem.item_name}}
                </td>
                <td>
                  <strong class="pull-right">${{cartItem.price}}</strong>
                </td>
              </tr>

            </tbody>
          </table>

          <hr>
          <table class="table table_summary">
            <tbody>
              <!-- <tr>
                <td>
                  Subtotal
                  <span class="pull-right">$56</span>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  Delivery fee
                  <span class="pull-right">$10</span>
                </td>
              </tr> -->
              <tr>
                <td class="total" *ngIf="checkCartResponse">
                  TOTAL
                  <span class="pull-right">$ {{checkCartResponse.cart[0].amount}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <a class="btn_full" (click)="redirectToCart()">Order now</a>
        </div>
        <!-- End cart_box -->
      </div>
      <!-- End theiaStickySidebar -->
    </div>
    <!-- End col-md-3 -->

  </div>
  <!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->

<app-footer></app-footer>