.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid red;
  background: red;
}

.square {
  height: 10px;
  width: 10px;
  position: absolute;
  border: 1px solid black;
}

.veg-indian-vegetarian:before {
  content: "\22a1";
  color: green;
}

img {
  margin-right: 2px;
}