li a {
    cursor: pointer;
}

.alert_msg {
    margin-top: -15px;
    text-align: left;
    color: red;
}

.alert_msg_checkbox {
    text-align: left;
    color: red;
}

#partitioned {
    letter-spacing: 20px;
    padding: 10px;
    /* background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 35px 2px;
    background-repeat: repeat-x;
    background-position-x: 27px; */
}

.error_text {
    color: red;
}



.backToLoginBtn {
    text-align: left;
    cursor: pointer;
}

.custom-drop-down {
    position: absolute;
    width: 90%;
    background: white;
    border-radius: 5px;
    margin-top: -15px;
    padding: 10px;
    line-height: 25px;
    font-size: 16px;
}



@media only screen and (max-width: 600px) {
    .main-menu {
        width: 60%;
    }
}