<section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <h3>COMPANY</h3>
              <ul>
                <li>
                  <a href=" ">About us</a>
                </li>
                <li>
                  <a href=" ">Team</a>
                </li>
                <li>
                  <a href=" ">Careers</a>
                </li>
                <li>
                  <a href=" ">Swiggy Blog</a>
                </li>
                <li>
                  <a href=" ">Bug Bounty</a>
                </li>
                <li>
                  <a href="#0">Terms and conditions</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-xs-6" id="newsletter">
              <h3>CONTACT</h3>
              <ul>
                <li>
                  <a href=" ">Help & Support</a>
                </li>
                <li>
                  <a href=" ">Partner With Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6 col-xs-6" id="newsletter">
              <h3>Legal</h3>
              <ul>
                <li>
                  <a href=" ">Terms & Conditions</a>
                </li>
                <li>
                  <a href=" ">Refund & Cancellation</a>
                </li>
                <li>
                  <a href=" ">Privacy Policy</a>
                </li>
                <li>
                  <a href=" ">Offer Terms</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-xs-6">
              <h3>Settings</h3>
              <div class="styled-select">
                <select class="form-control" name="lang" id="lang">
                  <option value="English" selected>English</option>
                  <option value="French">French</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Russian">Russian</option>
                </select>
              </div>
              <div class="styled-select">
                <select class="form-control" name="currency" id="currency">
                  <option value="USD" selected>USD</option>
                  <option value="EUR">EUR</option>
                  <option value="GBP">GBP</option>
                  <option value="RUB">RUB</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div id="social_footer">
            <ul>
              <li>
                <a href="#0">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-google"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-vimeo"></i>
                </a>
              </li>
              <li>
                <a href="#0">
                  <i class="icon-youtube-play"></i>
                </a>
              </li>
            </ul>
            <p>
              © EatZilla 2018
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>