.all_address {
  margin-top: 1px;
  padding-left: 5px;
}

.alert_msg {
  margin-top: -20px;
  text-align: left;
  color: red;
  margin-bottom: 10px;
}

.no_item {
  text-align: center;
  color: red;
}

.address {
  font-size: 14px;
  top: -5px;
  padding-left: 10px;
  position: relative;
  line-height: 1.6;
}

.address_div {
  padding: 5px;
  border: 1px solid linen;
  border-radius: 5px;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbb;
  background-color: #e7e6e7;
  border-radius: 2px;
  cursor: pointer;
}

/* appearance for checked radiobutton */

input[type="radio"]:checked {
  background-color: #93e026;
}

.box_style_2 h2.inner {
  font-size: 18px;
}

.highlightAddress{
  font-size: 15px;
}

.highlightAddressBox{
  background: linen
}

.highlightAddressCheckbox{
  background-color: #93e026;
  border: 2px solid #93e026;
}