.all_address {
  margin-top: 1px;
  padding-left: 5px;
}

.alert_msg {
  margin-top: -20px;
  text-align: left;
  color: red;
  margin-bottom: 10px;
}

.no_item {
  text-align: center;
  color: red;
}