<app-header></app-header>
<!-- <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="assets/img/sub_header_cart.jpg" data-natural-width="1400"
  data-natural-height="350"> -->
<div id="subheader" style="height:350px;background-image:url('assets/img/sub_header_cart.jpg');">
  <div id="sub_content" style="background-color: rgba(0,0,0,.7);height:inherit;width:inherit;animation-name:none">
    <h1>Place your order</h1>
    <div class="bs-wizard">
      <div class="col-xs-4 bs-wizard-step active">
        <div class="text-center bs-wizard-stepnum">
          <strong>1.</strong> Your details</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a class="bs-wizard-dot"></a>
      </div>

      <div class="col-xs-4 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum">
          <strong>2.</strong> Payment</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a class="bs-wizard-dot"></a>
      </div>

      <div class="col-xs-4 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum">
          <strong>3.</strong> Finish!</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a class="bs-wizard-dot"></a>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->




<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">
    <div class="col-md-3">

      <div class="box_style_2 hidden-xs info">
        <h4 class="nomargin_top">Delivery time
          <i class="icon_clock_alt pull-right"></i>
        </h4>
        <p>
          Our Eatzilla enables the user to see the exact location of the delivery agent in Map view. Frequent order status are updated
          to notify the user of any unexpected or unpredictable delays.

        </p>
        <hr>
        <h4>Secure payment
          <i class="icon_creditcard pull-right"></i>
        </h4>
        <p>
          EatZilla allows the user to make payments using their debit/credit cards , Paypal or E-Wallet through secure gateways.
        </p>
      </div>
      <!-- End box_style_1 -->

      <div class="box_style_2 hidden-xs" id="help">
        <i class="icon_lifesaver"></i>
        <h4>Need
          <span>Help?</span>
        </h4>
        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
        <small>Monday to Friday 9.00am - 7.30pm</small>
      </div>

    </div>
    <!-- End col-md-3 -->



    <div class="col-md-6">
      <div class="box_style_2" id="order_process">
        <h2 class="inner">Choose Delivery Address</h2>

        <div *ngIf="deliveryAddress">
          <label>Select Address to Deliver</label>
          <div *ngFor="let address of deliveryAddress.data">
            <div>
              <span class="">
                <input type="radio" name="address" [value]='address' [(ngModel)]="setDeliveryAddr">
              </span>

              <span class=""> {{address.flat_no}} - {{address.landmark}} {{address.address}}</span>


            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <a class="btn_full" (click)="setAddress(setDeliveryAddr)">Set Address</a>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <label>Flat No / Door No *</label>
          <input type="text" class="form-control" id="deliveryFlatNo" name="flatNo" [(ngModel)]="deliveryAddress.flat_no" placeholder="SM-223">
        </div>
        <div [hidden]="requiredField || deliveryAddress.flat_no" class="alert_msg">
          <div>Door No is required </div>
        </div>

        <div class="form-group">
          <label>Landmark *</label>
          <input type="text" id="tel_order" name="tel_order" class="form-control" [(ngModel)]="deliveryAddress.landmark" placeholder="Near RVS Arts college">
        </div>
        <div [hidden]="requiredField || deliveryAddress.landmark" class="alert_msg">
          <div>Landmark is required </div>
        </div>

        <div class="form-group">
          <label>Address *</label>
          <input type="text" class="form-control" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="newAddress($event)"
            placeholder="Enter your delivery location" />
        </div>
        <div [hidden]="requiredField || newDeliveryAddress" class="alert_msg">
          <div>Address is required </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a class="btn_full" (click)="addAddress()">Add Address</a>
          </div>
        </div>




        <!-- <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control" id="firstname_order" name="firstname_order" [(ngModel)]="deliveryAddress.firstName"
            placeholder="First name">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input type="text" class="form-control" id="lastname_order" name="lastname_order" [(ngModel)]="deliveryAddress.lastName"
            placeholder="Last name">
        </div>
        <div class="form-group">
          <label>Telephone/mobile</label>
          <input type="text" id="tel_order" name="tel_order" class="form-control" [(ngModel)]="deliveryAddress.phone" placeholder="Telephone/mobile">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" id="email_booking_2" name="email_order" class="form-control" [(ngModel)]="deliveryAddress.email" placeholder="Your email">
        </div>
        <div class="form-group">
          <label>Your full address</label>
          <input type="text" id="address_order" name="address_order" class="form-control" [(ngModel)]="deliveryAddress.address" placeholder=" Your full address">
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>City</label>
              <input type="text" id="city_order" name="city_order" class="form-control" [(ngModel)]="deliveryAddress.city" placeholder="Your city">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Postal code</label>
              <input type="text" id="pcode_oder" name="pcode_oder" class="form-control" [(ngModel)]="deliveryAddress.postalcode" placeholder=" Your postal code">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Delivery Day</label>
              <select class="form-control" name="delivery_schedule_day" id="delivery_schedule_day" [(ngModel)]="deliveryAddress.deliveryDay">
                <option value="" selected>Select day</option>
                <option value="Today">Today</option>
                <option value="Tomorrow">Tomorrow</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Delivery time</label>
              <select class="form-control" name="delivery_schedule_time" id="delivery_schedule_time" [(ngModel)]="deliveryAddress.deliveryTime">
                <option value="" selected>Select time</option>
                <option value="11.30am">11.30am</option>
                <option value="11.45am">11.45am</option>
                <option value="12.15am">12.15am</option>
                <option value="12.30am">12.30am</option>
                <option value="12.45am">12.45am</option>
                <option value="01.00pm">01.00pm</option>
                <option value="01.15pm">01.15pm</option>
                <option value="01.30pm">01.30pm</option>
                <option value="01.45pm">01.45pm</option>
                <option value="02.00pm">02.00pm</option>
                <option value="07.00pm">07.00pm</option>
                <option value="07.15pm">07.15pm</option>
                <option value="07.30pm">07.30pm</option>
                <option value="07.45pm">07.45pm</option>
                <option value="08.00pm">08.00pm</option>
                <option value="08.15pm">08.15pm</option>
                <option value="08.30pm">08.30pm</option>
                <option value="08.45pm">08.45pm</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">

            <label>Notes for the restaurant</label>
            <textarea class="form-control" style="height:150px" placeholder="Ex. Allergies, cash change..." name="notes" id="notes" [(ngModel)]="deliveryAddress.notes"></textarea>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <a class="btn_full" (click)="addAddress()">Add Address</a>
          </div>
        </div> -->
      </div>
      <!-- End box_style_1 -->
    </div>
    <!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div id="cart_box">
          <h3>Your order
            <i class="icon_cart_alt pull-right"></i>
          </h3>
          <div *ngIf="!cartDetails" class="no_item">No Item in cart</div>
          <table *ngIf="cartDetails" class="table table_summary">
            <tbody>
              <tr *ngFor="let cartItem of cartDetails.food_detail">
                <td>
                  <a (click)="removeFromCart(cartItem.food_id,cartItem.quantity)" class="remove_item cursor_pointer">
                    <i class="icon_minus_alt"></i>
                  </a>
                  <strong>{{cartItem.quantity}} x </strong> {{cartItem.name}}
                </td>
                <td>
                  <strong class="pull-right">${{cartItem.price}}</strong>
                </td>
              </tr>

            </tbody>
          </table>
          <hr>
          <table *ngIf="cartDetails" class="table table_summary">
            <tbody>
              <tr>
                <td>
                  Subtotal
                  <span class="pull-right">${{cartDetails.invoice[0].item_total}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  Delivery fee
                  <span class="pull-right">${{cartDetails.invoice[0].delivery_charge}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  GST
                  <span class="pull-right">${{cartDetails.invoice[0].gst}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  Packaging fee
                  <span class="pull-right">${{cartDetails.invoice[0].restaurant_packaging_charge}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  Discount
                  <span class="pull-right">${{cartDetails.invoice[0].offer_discount}}</span>
                </td>
              </tr>
              <tr>
                <td class="total">
                  TOTAL
                  <span class="pull-right">${{cartDetails.invoice[0].bill_amount}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <a class="btn_full" (click)="redirectToPayment()">Go to checkout</a>
          <a class="btn_full_outline" (click)="backToAddItems()">
            <i class="icon-right"></i> Add other items</a>
        </div>
        <!-- End cart_box -->
      </div>
      <!-- End theiaStickySidebar -->
    </div>
    <!-- End col-md-3 -->

  </div>
  <!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->

<!-- Footer ================================================== -->
<app-footer></app-footer>
<!-- End Footer =============================================== -->