<app-header></app-header>

<!-- SubHeader =============================================== -->
<!-- <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="assets/img/sub_header_short.jpg" data-natural-width="1400"
    data-natural-height="350"> -->
<div id="subheader" style="height:350px;background-image:url('assets/img/sub_header_short.jpg');">
  <div id="sub_content" style="background-color: rgba(0,0,0,.7);height:inherit;width:inherit;animation-name:none">
    <h1>Account</h1>

  </div>
  <!-- End sub_content -->
</div>
<!-- End subheader -->
<!-- </section> -->
<!-- End section -->
<!-- End SubHeader ============================================ -->



<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="col-md-12 ">
    <div class="heading">
      <!-- <h3>User123</h3> -->
      <input type="button" class="btn_1" name="" data-toggle="modal" data-target="#edit_profile" value="edit profile">
    </div>
    <div class="box_style_2 nomargin">
      <div class="row">
        <div class="col-md-12">
          <!--  Tabs -->
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#orders" data-toggle="tab">
                <i class="icon-bag"></i> Orders</a>
            </li>
            <li>
              <a href="#offers" data-toggle="tab">
                <i class="icon-tag"></i> Offers</a>
            </li>
            <li>
              <a href="#favouites" data-toggle="tab">
                <i class="icon-heart"></i> Favouites</a>
            </li>
            <li>
              <a href="#payments" data-toggle="tab">
                <i class="icon-credit-card"></i> Payments</a>
            </li>
            <li>
              <a href="#addresses" data-toggle="tab">
                <i class="icon-location"></i> Addresses</a>
            </li>
          </ul>

          <div class="tab-content">


            <div class="tab-pane active" id="orders">

              <div *ngIf="!currentOrderStatus" class="row text_center_align">
                <i class="fa fa-spinner fa-spin" style="font-size:36px;color:#57C704"></i>
                <div>Please wait...</div>
              </div>

              <div *ngIf="orderHistoryResponse && pastOrderArray">
                <h4>Past Orders</h4>
                <div class="strip_list wow fadeIn" *ngFor="let orders of pastOrderArray">
                  <div class="row">
                    <div class="col-md-9 col-sm-9">
                      <div class="desc">
                        <div class="thumb_strip">
                          <a>
                            <img src={{orders.restaurant_image}} alt="">
                          </a>
                        </div>
                        <div class="col-md-6 rating">
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star"></i> (
                          <small>
                            <a>98 reviews</a>
                          </small>)
                        </div>
                        <h3>{{orders.restaurant_name}}</h3>

                        <div class="location">
                          <br>
                          <span class="opening">{{orders.ordered_on}}</span>
                        </div>
                        <h5 class="old" *ngFor="let items of orders.item_list">
                          {{items.food_name}} {{items.food_quantity}},
                        </h5>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div style="text-align: center;">
                        <h4>Total Paid: ₹{{orders.bill_amount}}</h4>
                      </div>
                      <div class="go_to margin_60_35">
                        <div>
                          <button class="btn_1" type="button">REORDER</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 
              <div *ngIf="currentOrders && currentOrders.length>0">
                <h4>Current Orders</h4>
                <div class="strip_list wow fadeIn" *ngFor="let orders of currentOrders">
                  <div class="row">
                    <div class="col-md-9 col-sm-9">
                      <div class="desc">
                        <div class="thumb_strip">
                          <a>
                            <img src={{orders.restaurant_image}} alt="">
                          </a>
                        </div>
                        <div class="col-md-6 rating">
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star"></i> (
                          <small>
                            <a>98 reviews</a>
                          </small>)
                        </div>
                        <h3>{{orders.restaurant_name}}</h3>
                        <div class="location">
                          135 Newtownards Road, Belfast, BT4.
                          <br>
                          <span class="opening">{{orders.ordered_on}}</span>
                        </div>
                        <h5 class="old" *ngFor="let items of orders.item_list">
                          {{items.food_name}} {{items.food_quantity}},
                        </h5>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div style="text-align: center;">
                        <h4>Total Paid: ₹{{orders.bill_amount}}</h4>
                      </div>
                      <div class="go_to margin_60_35">
                        <div>
                          <button class="btn_1" type="button">TRACK ORDER</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div *ngIf="currentOrderStatus && currentOrderStatus.order_status&& currentOrderStatus.order_status.length>0">
                <h4>Current Orders</h4>
                <div class="strip_list wow fadeIn" *ngFor="let orders of currentOrderStatus.order_status">
                  <div class="row">
                    <div class="col-md-9 col-sm-9">
                      <div class="desc">
                        <div class="thumb_strip">
                          <a>
                            <img src={{orders.restaurant_image}} alt="">
                          </a>
                        </div>
                        <div class="col-md-6 rating">
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star voted"></i>
                          <i class="icon_star"></i> (
                          <small>
                            <a>98 reviews</a>
                          </small>)
                        </div>
                        <h3>{{orders.restaurant_name}}</h3>
                        <div class="location">
                          135 Newtownards Road, Belfast, BT4.
                          <br>
                          <span class="opening">{{orders.ordered_time}}</span>
                        </div>
                        <br>
                        <br>
                        <div>
                          <button class="btn_1" (click)="trackOrder(orders.request_id)" type="button">TRACK ORDER</button>
                        </div>
                        <!-- <div *ngFor="let track of orders.trackingDetails">
                          <b>{{track.detail}}</b> at {{track.created_at}}
                        </div> -->

                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div>
                        <h4>Total Paid: ₹{{orders.bill_amount}}</h4>
                      </div>
                      <br>
                      <h5 class="old" *ngFor="let items of orders.item_list">
                        {{items.item_quantity}} x{{items.item_name}}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane" id="offers">
              <div class="row">
                <h3 class="heading">COUPON CODE</h3>
                <div class="col-md-6 ">
                  <div class="strip_list">
                    <div class="type">
                      <h4 style="color: #bfa83a">FEDERAL25</h4>
                    </div>
                    <div class="location">
                      <h3>Get 25% discount using Federal Bank Debit Card</h3>
                      <p>Use code Federal 25 & get 25% discount upto Rs.100 on your order</p>
                    </div>
                    <br>
                    <button class="btn_1">COPY CODE</button>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class=" strip_list">
                    <div class="type">
                      <h4 style="color: #bfa83a">GOKOTAK</h4>
                    </div>
                    <div class="location">
                      <h3>Get 25% discount using Kotak Bank Debit Card</h3>
                      <p>Use code Federal 10 & get 25% discount upto Rs.100 on your order</p>
                    </div>
                    <br>
                    <button class="btn_1">COPY CODE</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane" id="favouites">
              <div class="row">
                <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                  <a class="strip_list grid" href="detail_page.html">
                    <div class="ribbon_1">Popular</div>
                    <div class="desc">
                      <div class="thumb_strip">
                        <img src="assets/img/thumb_restaurant.jpg" alt="">
                      </div>
                      <div class="rating">
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star"></i>
                      </div>
                      <h3>Taco Mexican</h3>
                      <div class="type">
                        Mexican / American
                      </div>
                      <div class="location">
                        135 Newtownards Road, Belfast, BT4.
                        <br>
                        <span class="opening">Opens at 17:00.</span> Minimum order: $15
                      </div>

                    </div>
                  </a>
                  <!-- End strip_list-->
                </div>
                <!-- End col-md-6-->
                <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                  <a class="strip_list grid" href="detail_page.html">

                    <div class="desc">
                      <div class="thumb_strip">
                        <img src="assets/img/thumb_restaurant_2.jpg" alt="">
                      </div>
                      <div class="rating">
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star voted"></i>
                        <i class="icon_star"></i>
                      </div>
                      <h3>Naples Pizza</h3>
                      <div class="type">
                        Italian / Pizza
                      </div>
                      <div class="location">
                        135 Newtownards Road, Belfast, BT4.
                        <br>
                        <span class="opening">Opens at 17:00.</span> Minimum order: $15
                      </div>

                    </div>
                  </a>
                  <!-- End strip_list-->
                </div>
                <!-- End col-md-6-->
              </div>
              <!-- End row-->
            </div>

            <div class="tab-pane" id="payments">
              <div class="row">
                <div class="col-md-6">
                  <div class="">
                    <h4 class="heading">Payments</h4>
                    <div class="wcards">
                      Wallet money : 400
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                  <h4 class="heading">Saved Cards</h4>
                  <div class="col-md-12 ccards">
                    <div class="col-md-3">
                      <img src="assets/img/visa.png" style="width: 60px;">
                    </div>
                    <div class="col-md-6">
                      <strong>4521-xxxxxxxx-2574</strong>
                      <div>
                        <p class="type">VALID TILL 12/2024</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <button class="btn_full_outline">DELETE</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="addresses">
              <div class="row">
                <h3 class="heading">ADDRESS</h3>
                <div class="col-md-6 ">
                  <div class=" strip_list">
                    <div class="type">
                      <h3 style="color: #bfa83a">
                        <i class="icon-home"></i> HOME </h3>
                    </div>
                    <div class="location">
                      <h4>42/U-156, 1st Floor, Koramangala, Bangalore, Karanataka 641002</h4>
                    </div>
                    <br>
                    <input type="button" class="btn_1" name="" data-toggle="modal" data-target="#edit_address" value="edit">
                    <button class="btn_1">DELETE</button>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class=" strip_list">
                    <div class="type">
                      <h3 style="color: #bfa83a">
                        <i class="icon-building"></i> WORK</h3>
                    </div>
                    <div class="location">
                      <h4>257 1st Floor, HSR Layout, 7th Street, Bangalore, Karanataka 641002</h4>
                    </div>
                    <br>
                    <input type="button" class="btn_1" name="" data-toggle="modal" data-target="#edit_address" value="edit">
                    <button class="btn_1">DELETE</button>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>
        <!-- End col-md-12-->
      </div>
      <!-- End row-->

      <hr>

      <!-- <h3>Mangnifc popup images</h3>
                <p>Simply add the class magnific-gallery to the parent container like the example below.</p>
               <div class="row magnific-gallery">
                   <div class="col-md-6">
                      <a href="assets/img/img_1.jpg" title="Photo title"><img src="assets/img/img_1.jpg" alt="" class="img-responsive"></a>
                   </div>
                   <div class="col-md-6">
                      <a href="assets/img/img_2.jpg" title="Photo title"><img src="assets/img/img_2.jpg" alt="" class="img-responsive"></a>
                   </div>
               </div><!-- End row-->

      <!--<h3>Mangnifc popup video (Youtube/Vimeo)</h3>
                <p>Simply add the class magnific to the parent container like the example below plus the class video in the href .</p>
               <div class="row magnific">
                   <div class="col-md-6">
                      <a href="https://vimeo.com/15306847" class="video_pop" title="Video title"><img src="assets/img/img_3.jpg" alt="" class="img-responsive"></a>
                   </div>
                   <div class="col-md-6">
                      <a href="https://www.youtube.com/watch?v=vasS8dMKzjM"  class="video_pop" title="Video title"><img src="assets/img/img_4.jpg" alt="" class="img-responsive"></a>
                   </div>
               </div><!-- End row-->
    </div>
  </div>
  <!-- End box_style_2 -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->


<!-- user modal -->
<div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="myprofile" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a class="close-link">
        <i class="icon_close_alt2"></i>
      </a>
      <form *ngIf="userProfileDetails" class="popup-form" id="myprofile">
        <div class="">
          <input type="file" (change)="userPic($event.target.files)" class="custom-file-input" id="category_banner" accept=".jpeg,.png,.jpg">

          <img width="50px" src={{userProfileDetails.profile_image}}>
        </div>
        <input type="text" class="form-control form-white" [(ngModel)]="userProfileDetails.name" placeholder="Name" name="user name">
        <input type="email" class="form-control form-white" [(ngModel)]="userProfileDetails.email" placeholder="Email" name="user email">
        <div id="pass-info" class="clearfix"></div>

        <button type="submit" (click)="updateProfile()" class="btn btn-submit">Update</button>
      </form>
    </div>
  </div>
</div>
<!-- End user modal -->



<app-footer></app-footer>