input[type="file"] {
  display: none;
}

img {
  border: 1px solid grey;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.custom_file_input {
  position: absolute;
  font-size: 14px;
  background: #91DC5A;
  padding: 2px;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 60px;
}

.thumb_strip {
  border: none !important;
}

.size_exceed_error {
  color: red;
}

.no_orders {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.desc .rating {
  padding-left: 0px;
}

.margin_60_35 {
  padding-top: 0px;
}