<app-header></app-header>
<!-- SubHeader =============================================== -->
<section class="parallax-window" id="home" data-parallax="scroll" data-image-src="assets/img/sub_header_home.jpg" data-natural-width="1400"
    data-natural-height="550">

    <div id="subheader">
        <div id="sub_content">
            <div>
                <img src="assets/img/white.png" width="250" height="60" alt="">
            </div>
            <h1>Order Food Online</h1>
            <p>

            </p>
            <form >
                <div id="custom-search-input">
                    <div class="input-group ">
                        <input type="text" class=" search-query" placeholder="Search For Restaurants Or Dishes">
                        <span class="input-group-btn">
                            <input type="submit" class="btn_search" value="submit">
                        </span>
                    </div>

                </div>
            </form>
        </div>
        <!-- End sub_content -->
    </div>
    <!-- End subheader -->

</section>
<!-- End section -->


<app-footer></app-footer>